/* Body styling - logo from freeiconspng.com */
:root {
    
    --blue: rgb(13,110,253);
    --grey: rgb(240,242,245); 
    --submitblue: rgb(25,119,242);  
}

html,
body {
  height: 100%;
  margin:0;
}

.wrapper {

    min-height:100%;
    
    
}

.content-inside { 

    padding: 20px;
    padding-bottom: 30px;
    width: 100%
}

body { 
    background-color :var(--grey);
    font-family: 'Sora', sans-serif;
    background-size: cover;
    border-radius: 1rem;
    color: var(--blue);
    
}
/* nav */


.login-link {
    
    height:100%;
    display:block;
}

.login-title { 

    color: rgb(13,110,253);
    text-decoration: none;
    font-size: 2.5rem;
    height:100%;
}

.title-col { 
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    margin:auto;
}


.title-row {

    margin-top: 3%;
    margin-right: 0px;
    margin-left: 0px;
    vertical-align: middle;
    display:flex;
}

img {

    width: 180px;
    height: auto;
}


.nav {
    padding-right:0;
    height: auto;
    margin-top: 1%;
}

/* Get rid of text underline for login logo link */

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

/* main */


.login { 
    margin-top:3%;
    width:40%;
    background-color:white;
    border-radius:6px;
    
}


/* form login */

#login-form {

    margin-top:7%;
    margin-bottom:3%;
}


.main-col {

    justify-content: center;
    align-items: center;
    align-items: center;
}

.form-control {

    margin-top: 3%;
    border-radius: 6px;
    height: 48px;
    font-size: 1.2rem;

}

.form-submit {

    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    
    
    
}

.form-group { 

    margin-top: 3%; margin-bottom: 3%;
    height: 48px;

}

.submit-login {

    width:100%;
    height: 48px;
    background-color: var(--submitblue);
    border-color: none;
    border-style: none;
    border-radius: 6px;
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    outline:none;
    font-size: 1.2rem;

}

.line {

    margin-top: 3%;
    
}


.horizontal-line {

    border-top: 2px solid grey;
    
}

.register-button {

    margin-top: 5%;
    width:45%;
    height: 60px;
    background: rgb(66,183,43);
    border-color: none;
    border-style: none;
    border-radius: 6px;
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    outline:none;
    font-size: 1.3rem;

}

input, .register-button:hover {
    background-color: rgb(51, 141, 21) ;
}

.form-register {

    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;

}


input, .submit-login:hover {
    background-color: rgb(11, 77, 170) ;
}


/* footer */

.footer-col {

    justify-content: center;
    text-align:center;
    height:40px;
    margin-top: -40px;
    
}


.form-control:-webkit-autofill::first-line {

    font-family: 'Sora', Helvetica, Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1rem;

}

.madeby {

    margin-left: 2%;
}

/* Registration Form */

.form-register {

    margin-bottom: 4%;
}

.signup-form {

    margin-top: 2%;
    border-radius: 6px;
    height: 40px;
    font-size: 1rem;
    background-color:rgb(245,246,247);
    color:rgb(141,148,158);
    width: 80%;
    border-width: thin;
    font-family: 'Sora', 'Helvetica', sans-serif;
    padding-left: 8px;
    

}

.registration-password {

    margin-top: 2%;
    border-radius: 6px;
    height: 40px;
    font-size: 1rem;
    background-color:rgb(245,246,247);
    color:rgb(141,148,158);
    width: 80%;
    border-width: thin;
    font-family: 'Sora', Helvetica, Arial, sans-serif;
    padding-left: 8px;
}

.success-msg {

    text-align: center;
    justify-content: center;
    color: red;
    margin-top: 50%;
}

.signup-text {

    font-size: 1.6rem;
    margin-top: 2%;
    margin-bottom: 1%;
}


.registration-group { 

    
    height: 48px;
    margin-top: 2%;

}

.registration-password {

    width: 100%;

}

.signup-form { 

    width: 100%;
}
.registration { 
    margin-top:3%;
    width:800px;
    background-color:white;
    border-radius:6px;
    height: auto;
    
}


.registration-col { 
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    margin:auto;
      
}


.registration-row {

    margin-top: 3%;
    margin-right: 0px;
    margin-left: 0px;
    vertical-align: middle;
    display:flex;

    
}

.registration-title { 

    color: rgb(13,110,253);
    text-decoration: none;
    font-size: 2.5rem;
    height:100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0px 1000px rgb(245,246,247) inset !important;
}


.registration-form { 

    width: 100%;
}

.register-button {

    margin-top: 0;

}

.registration-footer {

    font-size: 0.8rem;
}

.wrapper {

    
    display: flex;
    width: 100%;

}

.first-name {

    flex: 1;
    display:inline-block;
    width: 48%;
    margin-right:1.4%;
    
    
}

.last-name {
   
    flex: 2;
    display:inline-block;
    width: 48%;
    margin-left: 1.4%;
       
}

.title-registration-row {

    margin-top: 0;
}
/* display radio buttons next to each other */


.poster-button { 

    display:inline-block;
    flex: 1;
    width: 45%;
    text-align: center
}

.reader-button {

    display:inline-block;
    flex: 2;
    width: 45%;
}

.reader-poster-wrapper {

    margin-top: 5%;
}
.text-poster-button {

    display:inline-block;
    flex: 1;
    width: 20%;
    text-align: right;
    font-size: 1.2rem;
}

.signup-form-poster {

    display:inline-block;
    flex: 2;
    width: 20%;
    vertical-align: middle;
    margin: 1px;
    align-items: left;
    text-align: left

}

.text-reader-button {

    display:inline-block;
    flex: 1;
    width: 20%;
    text-align: right;
    font-size: 1.2rem;

}

.signup-form-reader {

    display:inline-block;
    flex: 2;
    width: 23%;
    vertical-align: middle;
    margin: 1px;
    align-items: left;
    text-align: left;
}

.popup-explanation {

    color: red;
    font-size: 0.9rem;
    margin-top: 3%;

}


/* HOMEPAGE - home.css*/


/* navbar  */
.homepage-col-welcome {

    margin-bottom: 0;

}

.personalised-welcome-msg {

    font-size: 130%;
    



}

.homepage-col-search {

    margin-bottom: 0;
    align-items: left;
    text-align: left;
    background-color: white;
    border-radius: 1rem;
    height: 40px;
    padding-top: 10px;
    margin-bottom: 5px;
    
}

#search-bar-nav {

    width: 80%;
    background: none;
    padding-right: 25px;
    border-color:none;
    border:none;
    font-size: 100%;

}

.search-nav-icon {

    padding-right: 8px;
    padding-bottom: 2px;
    height: 20px;
    width: auto;
}
/* outlines */

#search-bar-nav:focus{
    outline-style:none
}

/* placeholder tex color */

#search-bar-nav::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(117,117,117);
    opacity: 1; /* Firefox */
  }
  
  #search-bar-nav:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(117,117,117);
  }
  
  #search-bar-nav::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(117,117,117);
  }

.search-nav-icon {

    width: 25px;
    height: auto;
    
}


.homepage-col-profile-link {

    
    margin-bottom: 0;

}

.profile-link {

    font-size: 130%;
}

.signout-link {

    font-size: 130%;

}

.homepage-col-signout-link {

    margin-bottom: 0;
}

div.homepage-nav {

    width: 100%;
 
}

.horizontal-line-post {

    margin-top:0;
}

.homepage-logo {

    width: 100px;
    height: auto;
    margin-bottom: 5%;
}

.nav-homepage-row {

    width: 100%;
    border-bottom: 2px solid rgb(223,223,223);
}


/* Thoughts */

input#myThoughts {

    background:none;
    outline: none;
    width: 100%;
    border: none;
    color: black;
    
}

textarea {

    resize: none;
    overflow:hidden;
    height: 25px;
    width: 100%;
    border: none;
    margin-bottom: 0;
}


textarea.scroll::-webkit-scrollbar {
    display: none;
  }

  /* HOMEPAGE FEED */

  .homepage {

    margin-top:3%;
    width:800px;
    background-color:white;
    border-radius:6px;
    height: auto;
}


/* PROFILE PAGE */

.bio-h1 {

    margin-bottom: 10%;
    margin-top: 3%
}

.line-seperate-feed {

    border-top: 2px solid grey;
    margin-bottom: 3%;
    
}

.feed-row {

    
    margin-bottom: 5%;
    text-align: center;
    justify-content: center
}

.table-feed {

    margin-bottom: 12%;
}

.bio-grid {

    display:inline;
    
}

.bio-h1 {

    float:middle;
}

.add-bio {

    float:right;
}

.edit-bio {

    float: left;
}

div#popup-explanation {
    
    color: red;
    font-size: 0.9rem;
    margin-top: 1%;
    margin-bottom: 2%;

}

div#popup-email-confirmation {

    color: red;
    font-size: 0.9rem;
    margin-top: 1%;
}

div#popup-username-confirmation {

    color: red;
    font-size: 0.9rem;
    margin-top: 1%;
}

/* registration alert page */

div.registration-alert {

        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      
    };

div.registration-alert img {

    height: auto;
    width: 100%;
}
 

p.registration-alert-successful {

    text-align: center;
    font-size: 1rem;
    color: rgb(24, 180, 24);
    margin-left: 5px;
};


p.registration-alert-unsuccessful {

    text-align: center;
    font-size: 1rem;
    margin-left: 5px;
    color: rgb(182, 24, 24)
}

/* media queries */

@media only screen
and (min-width: 0px) 
and (max-width: 299px){

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .signup-text {

        font-size: 1.2rem;
        margin-top: 4%;
        margin-bottom: 8%;
    }

    .form-control:-webkit-autofill::first-line {

        font-family: 'Sora', Helvetica, Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 0.9rem;
    }

    .submit-login {

        font-size: 1.1rem;
    }

    .register-button {

        font-size: 1.0rem;
        
    }

    .madeby {

        font-size: 0.7rem;
    }

    nav {

        margin-top: 10%;
        margin-bottom: 15%;
    }
    .nav-registration {

        margin-top: 10%
    }
    .content-inside {

        padding:0;
    }

    .login-width {

        width: 100%;
    }
    
    .registration { 
        margin-top:20%;
        background-color:white;
        border-radius:6px; 
    }

    img {

        width: 80px;
        height: auto;

    }

    .registration-title {

        font-size: 1.8rem;

    }

    .wrapper {

    
        display: flex;
        width: 100%;
    
    }
    
    .first-name {
    
        flex: 1;
        display:inline-block;
        width: 48%;
        margin-right:1%;
        
        
    }
    
    .last-name {
       
        flex: 2;
        display:inline-block;
        width: 48%;
        margin-left: 1%;
          
    }
    .registration-footer {

        font-size: 0.5rem;
    }
}

@media (min-width: 300px) and (max-width: 700px) {



    .homepage {

        width: 100%;
    }
    
    
    .content-inside {

        width: 100%;
    }

    .registration { 
        margin-top:20%;
        width:280px;
        background-color:white;
        border-radius:6px;
        
    }

    nav {

        margin-top: 20%;
        margin-bottom: 15%;
    }

    .wrapper {

    
        display: flex;
        width: 100%;
    
    }
    
    .first-name {
    
        flex: 1;
        display:inline-block;
        width: 48%;
        margin-right:1%;
        
        
    }
    
    .last-name {
       
        flex: 2;
        display:inline-block;
        width: 48%;
        margin-left: 1%;
          
    }

    
    html, body {

        max-width: 100%;
        overflow-x: hidden;

    }

    img {

        width: 120px;
        height: auto;

    }

    .registration-title {

        font-size: 1.8rem;

    }


    .nav-registration{

        margin-top: 5%;
    }
    
    .madeby { 

        font-size: 0.5rem;
        margin-left: 25px;
    }

    .login { 
        margin-top:3%;
        width:70%;
        background-color:white;
        border-radius:1rem;
        
    }

    .registration-row {

        margin-top: 10%;
    }

    nav { 

        margin-top: 10%;
    }

    .login {

        margin-top: 15%;
    }
    
    .register-button {

        font-size: 1rem;
        width: 60%;
        height: 40px;
        margin-bottom: 1%;
        margin-top: 1%
    }

    .form-control {

        font-size: 0.8rem;
    }

    /* mobile device home page */

    

    div.homepage-nav {

        width: 100%;
        margin-top: 0;
    }

    
    h4.profile-link {

        font-size: 16.64px;
        margin-bottom: 0;
    }
    
    /* placeholder tex color */
    
    #search-bar-nav::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(117,117,117);
        opacity: 1; /* Firefox */
      }
      
      #search-bar-nav:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgb(117,117,117);
      }
      
      #search-bar-nav::-ms-input-placeholder { /* Microsoft Edge */
        color: rgb(117,117,117);
      }
    
    .search-nav-icon {
    
        width: 25px;
        height: auto;
        
    }
    
    
    .homepage-col-profile-link {
    
        
        margin: 0;
        width: 10%;
        flex: 4;
        font-size: 50%;
    
    }
    
    .profile-link {
    
        font-size: 130%;
    }
    
    .signout-link {
    
        font-size: 130%;
    
    }
    
    .homepage-col-signout-link {
    
        margin-bottom: 0;
        width: 10%;
        flex: 5;
        font-size: 80%;
    }
    
    div.homepage-nav {
    
        width: 100%;
     
    }
    
    .horizontal-line-post {
    
        margin-top:0;
    }
    
    .homepage-logo {
    
        width: 10px;
        height: auto;
        margin-bottom: 5%;
        width: 10%;
        flex: 3;
    }
    
    .nav-homepage-row {
    
        width: 100%;
        border-bottom: 2px solid rgb(223,223,223);
    }
    
    /* remove place holder when mobile device */
    #search-bar-nav::-webkit-input-placeholder {
        color:transparent;
        
    }
    #search-bar-nav:-moz-placeholder {
        color:transparent;
    }
    #search-bar-nav::-moz-placeholder {
        color:transparent;
    }


    /* bio-pages  */

.edit-bio {

    font-size: 15px;
    margin-bottom: 0;

}




.text-reader-button {
    
        display:inline-block;
        flex: 1;
        width: 60%;
        text-align: right;
        font-size: 0.9rem;
    
    }
.text-poster-button {

    display:inline-block;
    flex: 2;
    width: 60%;
    text-align: right;
    font-size: 0.9rem;
}
    
.signup-form-poster {

    width: 23%;

}

.add-bio {

    font-size: 15px;
    margin-bottom: 0
}
.line-seperate-feed {

    margin-top: 0;
}

}




/* iphoneX */
@media only screen
and (width: 375px) 
and (height: 812px) {

    .content-inside {

        width: 100%;
    }

    .registration { 
        margin-top:20%;
        width:280px;
        background-color:white;
        border-radius:6px;
        
    }

    nav {

        margin-bottom: 25%;
        margin-top: 15%;
    }

    .wrapper {

    
        display: flex;
        width: 100%;
    
    }
    
    .first-name {
    
        flex: 1;
        display:inline-block;
        width: 48%;
        margin-right:1%;
        
        
    }
    
    .last-name {
       
        flex: 2;
        display:inline-block;
        width: 48%;
        margin-left: 1%;
          
    }

    
    html, body {

        max-width: 100%;
        overflow-x: hidden;

    }

    img {

        width: 120px;
        height: auto;

    }

    .registration-title {

        font-size: 1.8rem;

    }

  
    
    .nav-registration {

        margin-top: 5%;
    }
    
    .madeby { 

        font-size: 0.5rem;
        margin-left: 25px;
    }

    .login { 
        margin-top:3%;
        width:70%;
        background-color:white;
        border-radius:1rem;
        
    }

    .registration-row {

        margin-top: 10%;
    }

    .nav { 

        margin-top: 10%;
    }

    .login {

        margin-top: 15%;
    }
    
    .register-button {

        font-size: 0.85rem;
        width: 60%;
        height: 40px;
        margin-bottom: 1%;
        margin-top: 1%
    }

    .form-control {

        font-size: 0.8rem;
    }

    .reader-poster-wrapper {

        margin-top: 0;
    }

    .text-poster-button {

        display:inline-block;
        flex: 1;
        width: 60%;
        text-align: right;
        font-size: 1rem;
    }

    .signup-form { 

        font-size: 0.8rem;
    }

    .registration-password {

        font-size: 0.8rem;
    }
    
    .signup-form-poster {
    
        display:inline-block;
        flex: 2;
        width: 18%;
        vertical-align: middle;
        margin: 0;
        align-items: left;
        text-align: left
    
    }
    
    .text-reader-button {
    
        display:inline-block;
        flex: 1;
        width: 60%;
        text-align: right;
        font-size: 1rem;
    
    }
    
    .signup-form-reader {
    
        display:inline-block;
        flex: 2;
        width: 18%;
        vertical-align: middle;
        margin: 0;
        align-items: left;
        text-align: left;
    }
    
    div#popup-explanation {
    
        color: red;
        font-size: 0.7rem;
        margin-top: 1%;
        margin-bottom: 2%;
    
    }

    div#popup-confirmation {

        color: red;
        font-size: 0.7rem;
        margin-top: 1%;
    }


    .signup-text {

        font-size: 1.6rem;
    }

    .reader-poster-wrapper {

        margin-right: 5px;
    }
    
    .registration-footer {

        margin-left: 24px;
    }
}


@media  only screen
and (min-device-width: 701px) 
and (max-device-width: 1023px) 
and (orientation: landscape) {

    .login { 
        margin-top:5%;
        width:50%;
        background-color:white;
        border-radius:1rem;
        
    }

    

    img { 

        width: 100px;
        height: auto;
    }
    
    
    .content-inside {

        width: 100%;
        

    }

    .registration { 
        margin-top:20%;
        width:600px;
        background-color:white;
        border-radius:6px;
        
    }

    .wrapper {

    
        display: flex;
        width: 100%;
    
    }
    
    .first-name {
    
        flex: 1;
        display:inline-block;
        width: 48%;
        margin-right:1%;
        
        
    }
    
    .last-name {
       
        flex: 2;
        display:inline-block;
        width: 48%;
        margin-left: 1%;
          
    }

    
    html, body {

        max-width: 100%;
        overflow-x: hidden;

    }



    .registration-title {

        font-size: 1.8rem;

    }


    .nav-registration{

        margin-top: 5%;
    }
    
    .madeby { 

        font-size: 0.5rem;
        margin-left: 25px;
    }

    .login { 
        margin-top:3%;
        width:70%;
        background-color:white;
        border-radius:1rem;
        
    }

    .registration-row {

        margin-top: 10%;
    }

    
    .register-button {

        font-size: 1rem;
        width: 60%;
        height: 40px;
        margin-bottom: 1%;
        margin-top: 1%
    }

    .form-control {

        font-size: 0.8rem;
    }
  
    .main.row {

        width: 60%;
    }
    
 
}


@media only screen 
and (min-device-width: 701px) 
and (max-device-width: 1023px)
and (orientation: portrait) {

    .login { 
        margin-top:5%;
        width:50%;
        background-color:white;
        border-radius:1rem;
        
        
    }

    nav {
        margin-top: 10%;
        margin-bottom: 15%;
    }

    img { 

        width: 200px;
        height: auto;
    }
    
    
    .content-inside {

        width: 100%;
    }

    .registration { 
        margin-top:20%;
        width:280px;
        background-color:white;
        border-radius:6px;
        
    }

    .wrapper {

    
        display: flex;
        width: 100%;
    
    }
    
    .first-name {
    
        flex: 1;
        display:inline-block;
        width: 48%;
        margin-right:1%;
        
        
    }
    
    .last-name {
       
        flex: 2;
        display:inline-block;
        width: 48%;
        margin-left: 1%;
          
    }

    
    html, body {

        max-width: 100%;
        overflow-x: hidden;

    }



    .registration-title {

        font-size: 1.8rem;

    }


    .nav-registration{

        margin-top: 5%;
    }
    
    .madeby { 

        font-size: 0.5rem;
        margin-left: 25px;
    }

    .login { 
        margin-top:3%;
        width:70%;
        background-color:white;
        border-radius:1rem;
        
    }

    .registration-row {

        margin-top: 10%;
    }

    
    .register-button {

        font-size: 1rem;
        width: 60%;
        height: 40px;
        margin-bottom: 1%;
        margin-top: 1%
    }

    .form-control {

        font-size: 0.8rem;
    }
  
 
}

@media only screen
and (min-device-width: 1024px) 
and (max-device-width: 1500px)
and (orientation: landscape) {


    .login { 

        margin-top: 5%;
        width: 45%;
    }

    .title-row {

        margin-top: 3%;
    }

    .nav { 

        margin-top: 5%;
    }

    img { 

        width: 220px;
        height: auto;
    }

    .madeby {

        font-size: 0.8rem;
    }
    .form-control:-webkit-autofill::first-line {

        font-family: 'Sora', Helvetica, Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 1.2rem;
    }
}

/* Nest hubs */
@media only screen
and (width: 1024px) 
and (height: 600px)
and (orientation: landscape) {


    .login { 

        margin-top: 5%;
        width: 45%;
    }

    .form-register {

        margin-bottom: 8px;
        margin-top: 8px;
    }
   
    .register-button {

        margin-top: 0px;
        margin-bottom: 5px;
    }

    .nav { 

        margin-top: 3%;
    }

    img { 

        width: 100px;
        height: auto;
    }

   .register-button {

        height: 45px;
   }

    .madeby {

        font-size: 0.8rem;
    }
    .form-control:-webkit-autofill::first-line {

        font-family: 'Sora', Helvetica, Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 1.2rem;
    }

}


@media only screen
and (min-device-width: 1024px) 
and (max-device-width: 1500px)
and (orientation: portrait) {


    .login { 

        margin-top: 5%;
        width: 45%;
    }

    .title-row {

        margin-top: 3%;
    }

    .nav { 

        margin-top: 10%;
        margin-bottom: 15%;
    }

    img { 

        width: 300px;
        height: auto;
    }
    
    .login-width {

        width: 60%;
    }

    .form-control:-webkit-autofill::first-line {

        font-family: 'Sora', Helvetica, Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 1.5rem;
    }

    .submit-login {

        font-size: 1.6rem;
    }

    .register-button {

        font-size: 1.6rem;
    }

    .login-title {

        font-size: 3.0rem;
}

}

