/* Body styling - logo from freeiconspng.com */
:root {
    
    --blue: rgb(13,110,253);
    --grey: rgb(240,242,245); 
    --submitblue: rgb(25,119,242);  
}

html,
body {
  height: 100%;
  margin:0;
}

.wrapper {

    min-height:100%;
    
}

.content-inside { 

    padding: 20px;
    padding-bottom: 30px;
}

body { 
    background-color :var(--grey);
    font-family: 'Sora', sans-serif;
    background-size: cover;
    border-radius: 1rem;
    color: var(--blue);
    
}
/* nav */


.login-link {
    
    height:100%;
    display:block;
}

.login-title { 

    color: rgb(13,110,253);
    text-decoration: none;
    font-size: 2rem;
    height:100%;
}

.title-col { 
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    margin:auto;
}


.title-row {

    margin-top: 3%;
    margin-right: 0px;
    margin-left: 0px;
    vertical-align: middle;
    display:flex;
}

img {

    width: 220px;
    height: auto;
}

.nav {
    padding-right:0;
    height: auto;
    margin-top: 2%;
}

/* Get rid of text underline for login logo link */

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

/* main */


.login { 
    margin-top:3%;
    width:40%;
    background-color:white;
    border-radius:6px;
    
}


/* form login */

#login-form {

    margin-top:7%;
    margin-bottom:3%;
}


.main-col {

    justify-content: center;
    align-items: center;
    align-items: center;
}

.form-control {

    margin-top: 3%;
    border-radius: 6px;
    height: 48px;
    font-size: 1.2rem;

}

.form-submit {

    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    
    
    
}

.form-group { 

    margin-top: 3%; margin-bottom: 3%;
    height: 48px;

}

.submit-login {

    width:100%;
    height: 48px;
    background-color: var(--submitblue);
    border-color: none;
    border-style: none;
    border-radius: 6px;
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    outline:none;
    font-size: 1.2rem;

}

.line {

    margin-top: 6%;
    
}


.horizontal-line {

    border-top: 2px solid grey;
    
}

.register-button {

    margin-top: 5%;
    width:45%;
    height: 60px;
    background: rgb(66,183,43);
    border-color: none;
    border-style: none;
    border-radius: 6px;
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    outline:none;
    font-size: 1.2rem;

}

input, .register-button:hover {
    background-color: rgb(51, 141, 21) ;
}

.form-register {

    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;

}


input, .submit-login:hover {
    background-color: rgb(11, 77, 170) ;
}


/* footer */

.footer-col {

    justify-content: center;
    text-align:center;
    height:30px;
    margin-top: -30px;
}


input:-webkit-autofill::first-line {

    font-family: Helvetica, Arial, Helvetica, sans-serif;
    font-weight: lighter;

}

.madeby {

    margin-left: 2%;
}

/* Registration Form */

.form-register {

    margin-bottom: 4%;
}

.signup-form {

    margin-top: 2%;
    border-radius: 6px;
    height: 40px;
    font-size: 1rem;
    background-color:rgb(245,246,247);
    color:rgb(141,148,158);
    width: 80%;
    border-width: thin;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    padding-left: 8px;
    

}

.registration-password {

    margin-top: 2%;
    border-radius: 6px;
    height: 40px;
    font-size: 1rem;
    background-color:rgb(245,246,247);
    color:rgb(141,148,158);
    width: 80%;
    border-width: thin;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    padding-left: 8px;
}

.signup-text {

    font-size: 1.5rem;
    margin-top: 2%;
}


.registration-group { 

    margin-top: 3%; margin-bottom: 3%;
    height: 48px;
    width: 80%

}


.registration { 
    margin-top:4%;
    width:40%;
    background-color:white;
    border-radius:6px;
    
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0px 1000px rgb(245,246,247) inset !important;
}


/* media queries */

@media (min-width: 0px) and (max-width: 700px) {


    .madeby { 

        font-size: 0.5rem;
        margin-left: 25px;
    }

    .login { 
        margin-top:3%;
        width:70%;
        background-color:white;
        border-radius:1rem;
        
    }

    .nav { 

        margin-top: 10%;
    }

    .login {

        margin-top: 15%;
    }
    
    .register-button {

        font-size: 1rem;
        width: 60%;
        height: 40px;
        margin-bottom: 1%;
        margin-top: 1%
    }

    .form-control {

        font-size: 0.8rem;
    }
}


@media (min-width: 701px) and (max-width: 1023px) {

    .login { 
        margin-top:5%;
        width:50%;
        background-color:white;
        border-radius:1rem;
        
    }

    img { 

        width: 150px;
        height: auto;
    }
    .nav { 

        margin-top: 5%;
    }
    
    .login { 

        margin-top: 10%;
        width: 50%
    }
    

  
 
}


@media (min-width: 1024px) and (max-width:1600px) {


    .login { 

        margin-top: 5%;
        width: 45%;
    }

    .title-row {

        margin-top: 3%
    }

    .nav { 

        margin-top: 5%
    }

    img { 

        width: 250px;
        height: auto;
    }
}